<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.telcodev.dsl/src/org/telcodev/dsl/generator/Clase.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.telcodev.dsl.generator.Clase"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.telcodev.dsl"/>
</launchConfiguration>
