<?xml version="1.0" ?> 
<config>
	<language>tropo</language>
	<scriptlanguage>tropo</scriptlanguage>
	<url>http://yourserver.com/</url>
	<tropo>
		<voice>susan</voice>
        <user>user</user>
        <password>password</password>
        <token>XXXXXXXXXXXXXXXXXXXXX</token>
	</tropo>
	<twilio>
		<language>en</language>
		<voice>man</voice>
        <number>+XXXXXXXXXXXX</number>
        <accountSid>XXXXXXXXXXXXXXXXXXXXX</accountSid>
        <token>XXXXXXXXXXXXXXXXXXXXX</token>
	</twilio>
    <vxml>
        <language>eu-es</language>
        <token>XXXXXXXXXXXXXXXXXXXXX</token>
        <user>user</user>
        <password>passs</password>
        <botkey>415678</botkey>
        <number>655555595</number>
    </vxml>
        
</config>
