<?xml version="1.0" ?> 
<config>
	<language>tropo</language>
	<scriptlanguage>php</scriptlanguage> 
	<url>http://yourserver.com/</url>
	<tropo>
		<voice>susan</voice>
        <user>user</user>
        <password>telcodev</password>
        <token>XXXXXXXXXXXXXXXXXXXXX</token>
	</tropo>
	<twilio>
		<language>en</language>
		<voice>man</voice>
        <number>+XXXXXXXXXXXX</number>
        <accountSid>XXXXXXXXXXXXXXXXXXXXX</accountSid>
        <token>XXXXXXXXXXXXXXXXXXXXX</token>
	</twilio>
</config>

